/* Hero base */
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: var(--color5);
}

/* Overlay */
.hero-section .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(14, 14, 13, 0.429));
}

.hero-section .hero-content {
    position: relative;
    z-index: 1;
    width: 600px;
    padding: 0 1rem;
}

.hero-section .hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
    color: #fff;
}
.hero-section .hero-title strong{
    color: var(--color4);
}


.hero-section .hero-subtitle {
    font-size: 1.2rem;
    color: #f1f1f1;
    font-weight: 600;
}

.hero-section .hero-subtitle strong {
    color: var(--color4);
    font-weight: 700;
}

/* Hero de El Lugar */
.hero-lugar {
    background: url("/assets/8.jpeg") center/cover no-repeat;
}

/* Hero de Servicios */
.hero-servicios {
    background: url("/assets/servicios.jpg") center/cover no-repeat;
}
.hero-bodas {
    background: url("/assets/afuera.jpg");
}

/* Responsive */
@media (max-width: 768px) {
    .hero-section {
        height: 90vh;
        padding: 0 2rem;
    }

    .hero-section .hero-title {
        font-size: 2rem;
        margin-top: 0;
    }

    .hero-section .hero-subtitle {
        font-size: 1rem;
    }
}