:root {
  --color1: #bc908f;
  --color2: #b59c7c;
  --color3: #bcb78e;
  --color4: #d8d8bc;
  --color5: #f6f6ed;
}

.hero-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
    z-index: 1;
  }
  
  /* Gradiente superior */
  .overlay-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(246, 246, 237, 0));
    z-index: 2;
    pointer-events: none;
  }

  .hero-content {
    position: absolute;
    max-width: 1200px;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 3;
    color: var(--color1);
    padding: 0 2rem;
    margin-top: 4rem;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--color5);
    width: 90%;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--color5);
    font-weight: bold;
    width: 80%;
    

  }
  .hero-content strong{
    font-weight: bolder;
    font-style: italic;
    color: var(--color4);
  }
  
  .cta-button {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: var(--color3);
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: var(--color2);
  }
  
  /* Responsive ajustes */
  @media (max-width: 768px) {
    .hero-slider {
      position: relative;
      width: 100%;
      height: 80vh;
    }

    .hero-content {
      position: absolute;
      max-width: 1200px;
      width: 80%;
      top: 50%;
      left: 50%;
      text-align: center;
      padding: 0rem;
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .hero-content h1 {
      font-size: 2rem;
      width: 100%;
      
    }
  
    .hero-content p {
      font-size: 1rem;
      width: 95%;
    }
  
    .cta-button {
      padding: 0.6rem 1.5rem;
    }
  }
  
  