.premios-section {
  position: relative;
  padding: 2rem 2rem;
  text-align: center;
  color: var(--color1);
  overflow: hidden;
  
  /* Fondo con imagen */
  background: url("/assets/campolobos4.jpg") center/cover no-repeat;
}

/* Capa degradada encima del fondo */
.premios-section::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.2));
  z-index: 0;
}

/* Contenido por encima del degradado */
.container-premios {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20%;
}

.title-premios {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff; /* texto claro sobre fondo oscuro */
}

.premios-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  align-items: center;
}

.premio-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.premio-item img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

/* Responsive: dos por fila en portátil (tablets/móviles) */
@media (max-width: 768px) {
  .premios-grid {
    grid-template-columns: repeat(3, 1fr); /* 2 por fila */
    align-items: center;
    justify-content: center;
  }
  .premios-section {
    
    padding: 4rem 3rem;
  }
  .container-premios{
    padding: 0px;
  }
}

/* Extra pequeño: una por fila */
@media (max-width: 420px) {
  .premios-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 por fila */
  }
}
