
.hero-lugar {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/assets/servicios.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: var(--color5);
}

/* Overlay con sombreado oscuro */
.hero-overlay-lugar {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(14, 14, 13, 0.429));
}

.hero-content-lugar {
  position: relative;
  z-index: 1;
  width: 600px;
  padding: 0 1rem;
}

.hero-title-lugar {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
  color: #fff;
}

.hero-subtitle-lugar {
  font-size: 1.2rem;
  color: #f1f1f1;
  font-weight: 600;

}
.hero-subtitle-lugar strong{
  color: var(--color4);
  font-weight: 700;

}

/* Sección principal */

.services-section-main {
  background-color: var(--color5); /* fondo claro */
  color: var(--color1);            /* texto oscuro */
  padding: 4rem 2rem;
  font-family: "Raleway", sans-serif;
}

.container-services-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 4rem;
}

.header-services-main {
  text-align: center;
  margin-bottom: 3rem;
}

.title-services-main {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: var(--color1);
}

.intro-services-main {
  font-size: 1rem;
  color: var(--color3);
}

/* Grid responsive */
.grid-services-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

/* Card */
.card-service-main {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 2rem 1.5rem;
  text-align: center;
  transition: transform 0.3s ease;
}

.card-service-main:hover {
  transform: translateY(-5px);
}

/* Iconos */
.icon-service-main {
  font-size: 2rem;
  color: var(--color3);
  margin-bottom: 1rem;
}

/* Títulos dentro de las cards */
.card-service-main h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--color1);
}

/* Texto dentro de las cards */
.card-service-main p {
  font-size: 0.95rem;
  color: var(--color2);
  font-weight: normal;
}

/* Responsive ajustes */
@media (max-width: 768px) {
  .title-services-main {
    font-size: 1.8rem;
  }
  .card-service-main {
    padding: 1.5rem 1rem;
  }
  .container-services-main {

    padding: 1rem 0.4rem;
  }
}

@media (max-width: 480px) {
  .grid-services-main {
    grid-template-columns: 1fr; /* una columna en móvil */
  }
  .card-service-main {
    padding: 1.2rem;
  }
}
