
.hero-lugar {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/assets/servicios.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: var(--color5);
}

/* Overlay con sombreado oscuro */
.hero-overlay-lugar {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(14, 14, 13, 0.429));
}

.hero-content-lugar {
  position: relative;
  z-index: 1;
  width: 600px;
  padding: 0 1rem;
}

.hero-title-lugar {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
  color: #fff;
}

.hero-subtitle-lugar {
  font-size: 1.2rem;
  color: #f1f1f1;
  font-weight: 600;

}
.hero-subtitle-lugar strong{
  color: var(--color4);
  font-weight: 700;

}

/* Sección principal */
.services-section-main {
  background-color: var(--color5); /* fondo claro */
  color: var(--color1);            /* texto oscuro */
  padding: 4rem 2rem;
  font-family: "Raleway", sans-serif;
}

.container-services-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 4rem;
}

.header-services-main {
  text-align: center;
  margin-bottom: 3rem;
}

.title-services-main {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: var(--color1);
}

.intro-services-main {
  font-size: 1rem;
  color: var(--color3);
}

/* 3 Servicios Destacados */
.servicios-principales {
  background: var(--color5);
  
}

.container-servicios {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.title-servicios {
  font-size: 2.5rem;
  color: var(--color1);
  text-align: center;
  margin-bottom: 1rem;
}

.subtitle-servicios {
  font-size: 1.2rem;
  color: var(--color2);
  text-align: center;
  margin-bottom: 4rem;
}

.servicio-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.servicio-card:hover {
  transform: translateY(-5px);
}

.servicio-img img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.servicio-content {
  flex: 1;
}

.servicio-title {
  font-size: 1.5rem;
  color: var(--color1);
  margin-bottom: 1rem;
}

.servicio-text {
  font-size: 1rem;
  color: var(--color2);
  line-height: 1.6;
}


.btn-servicio {
  display: inline-block;
  margin-top: 1rem !important;
  padding: 0.5rem 1.2rem;
  background-color:var(--color1) !important; /* rojo YouTube */
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s ease;
  font-size: 0.8rem;
}

.btn-servicio i {
  color: #fff;
 
}

.btn-servicio:hover {
  background-color: var(--color4) !important;
}


/* Grid responsive */
.grid-services-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

/* Card */
.card-service-main {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 2rem 1.5rem;
  text-align: center;
  transition: transform 0.3s ease;
}

.card-service-main:hover {
  transform: translateY(-5px);
}

/* Iconos */
.icon-service-main {
  font-size: 2rem;
  color: var(--color1);
  margin-bottom: 1rem;
}

/* Títulos dentro de las cards */
.card-service-main h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--color2);
}

/* Texto dentro de las cards */
.card-service-main p {
  font-size: 0.95rem;
  color: var(--color2);
  font-weight: normal;
}

/* SERVICIOS DESTACADOS DETALLADO  */
.servicios-destacados-detalles{
  padding: 2rem 4rem !important;
  
  }
  .servicio-destacado-detalles-card{
    width: 100%;
    background-color: #fff;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .servicios-destacados-detalles title{
    color: #fff;
  }

  .detalles-card-fotos{
    margin: 0 auto;
    column-count: 4;
    column-gap: 1rem;
  }
  .detalles-card-fotos img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: block;
    height: 200px;
    object-fit: cover;
  }
  #wedding, #ambientacion, #catering {
    scroll-margin-top: 100px; /* ajusta al alto de tu navbar */
  }




/* Responsive ajustes --------------------- */
@media (max-width: 768px) {
  .hero-lugar {
    padding: 0 2rem;
    height: 90vh;
  }

  .hero-title-lugar {
    font-size: 2rem;
    margin-bottom: 0rem;
    margin-top: 0%;
    color: #fff;
  }
  .hero-subtitle-lugar{
    font-size: 1rem;
  }
  .card-service-main {
    padding: 1.5rem 1rem;
  }
  .container-services-main {
    padding: 1rem 0.4rem;
  }

  /* 3 Servicios */

  .container-servicios {
    max-width: 1200px;
    width: 96%;
    margin: 0 auto;
  }
  .servicio-card {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }
  .servicio-img img {
    width: 100%;
    height: auto;
  }

  /* SERVICIOS DESTACADOS DETALLADO  */
  .servicios-destacados-detalles{
    padding: 0px 0.4rem !important;
    justify-content: center;
    align-items: center;
    
  }
  .servicio-destacado-detalles-card{
    width: 100%;
    padding: 2rem !important;
    gap: 1rem;
    margin: 1rem 0px;
  }

  .detalles-card-fotos{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    column-count: 1;
    gap: 1rem 0rem;
  }


  

}

@media (max-width: 480px) {
  .grid-services-main {
    grid-template-columns: 1fr; /* una columna en móvil */
  }
  .card-service-main {
    padding: 1.2rem;
  }
}
