:root {
  --color1: #bc908f;
  --color2: #b59c7c;
  --color3: #bcb78e;
  --color4: #d8d8bc;
  --color5: #f6f6ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset específico para body */
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;        /* altura de línea legible */

}



.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background 0.3s ease;
  text-decoration: none !important;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background-color: #1ebe5d;
}

/* Estado inicial oculto */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

/* Estado visible */
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
