<footer class="footer-section-map">
  <!-- Fondo con imagen + overlay oscuro -->
  <div class="contact-overlay-footer">
    <div class="overlay-footer"></div>
    <div class="cards-footer">
      <!-- Card 1: Información -->
      <div class="card-footer">
        <h3>Información</h3>
        <ul>
          <li><a href="tel:+5492227479210"><i class="fas fa-phone"></i> +54 9 2227 479 210</a></li>
          <li><a href="mailto:info@campolobos.com"><i class="fas fa-envelope"></i> monica@campolobos.com</a></li>
          <li><a href="https://maps.app.goo.gl/myptouBsWbJrRF2M9" target="_blank"><i
                class="fas fa-map-marker-alt"></i> Emilio Castro y Callejón de Circunvalación - Lobos (BSAS)
            </a>
          </li>
          <li><a href="https://www.instagram.com/campoloboseventos/" target="_blank"><i class="fab fa-instagram"></i> campoloboseventos</a></li>

          <li class="legales-link">
            <a href="https://docs.google.com/document/d/1duZ5ohpZBxKudn5HK0DK2uGDFu5DFdr6/edit?usp=drive_link&ouid=111844009967426038923&rtpof=true&sd=true" target="blank"><i class="fas fa-balance-scale"></i> Condiciones y legales</a>
          </li>
      
        </ul>
      </div>



      <!-- Card 3: Consultas -->
      <div class="card-footer">
        <h3>Consultas</h3>
        <p>¿Querés contarnos tu proyecto o realizar una consulta? Escríbenos directamente.</p>
        <a href="https://wa.me/5492227479210?text=Hola!%20Estamos%20interesados%20en%20realizar%20(aclarar%20tipo%20del%20evento),%20para%20la%20fecha%20(aclarar%20fecha)%20y%20el%20total%20de%20invitados%20(aclarar%20cantidad%20de%20los%20invitados)" 
        target="_blank" class="btn-whatsapp-footer">
          <i class="fab fa-whatsapp"></i> Escríbenos por WhatsApp
        </a>
      </div>


      <div class="map-container-footer">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.17886959941!2d-59.126856289694814!3d-35.15215958655404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bdaa60d601bd9d%3A0x4def06536232c1f!2sCampoLobos%20Eventos!5e0!3m2!1ses!2ses!4v1763539935684!5m2!1ses!2ses" 
          class="map-footer-full"
          allowfullscreen
          loading="lazy">
        </iframe>
      </div>
    </div>
    
  </div>

  

    <!-- Mapa ocupa todo el ancho -->


  <!-- Franja inferior -->
  <div class="copyright-footer-map">
    <p>© CampoLobos. Todos los derechos reservados.</p>

    <!-- Nuevo bloque legales -->
    <div class="footer-legales">
      
      <span><a href="https://docs.google.com/document/d/1duZ5ohpZBxKudn5HK0DK2uGDFu5DFdr6/edit?usp=drive_link&ouid=111844009967426038923&rtpof=true&sd=true" target="blank">Condiciones y legales</a></span>
      
    </div>
  </div>
</footer>

<!-- Botón flotante de WhatsApp -->
<a href="https://wa.me/5492227479210?text=Hola!%20Estamos%20interesados%20en%20realizar%20(aclarar%20tipo%20del%20evento),%20para%20la%20fecha%20(aclarar%20fecha)%20y%20el%20total%20de%20invitados%20(aclarar%20cantidad%20de%20los%20invitados)" 
   target="_blank" 
   class="whatsapp-float">
  <i class="fab fa-whatsapp"></i>
</a>
